.playground-comp-wrap {
    position: relative;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    .action-button {
        position: absolute;
        right: 0;
        bottom: -32px;
    }
    @stripe-color: #999;
    @stripe-width: 15px;
    @stripe-color-hovered: #298ef2;
    .action-wrap {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .5;
        transition: all .4s;
        border: 1px solid @stripe-color;
        background: #fff linear-gradient(
            45deg, 
            @stripe-color 0, @stripe-color 25%, transparent 25%, transparent 50%, 
            @stripe-color 50%, @stripe-color 75%, transparent 75%, transparent
        );
        background-size: @stripe-width @stripe-width;
        // &:hover {
        //     background: #fff linear-gradient(
        //         45deg, 
        //         @stripe-color-hovered 0, @stripe-color-hovered 25%, transparent 25%, transparent 50%, 
        //         @stripe-color-hovered 50%, @stripe-color-hovered 75%, transparent 75%, transparent
        //     );
        //     background-size: @stripe-width @stripe-width;
        // }
    }
    &.meta-key-pressed {
        cursor: grab;
        .action-wrap {
            display: block;
        }
    }
}
