@import "src/main/style";

.editor-wrap {
  position: absolute;
  left: 20px;
  top: 20px;
  right: 0;
  background-color: $gen-bg-color;
  bottom: 0;
  z-index: 2;
  transition: margin .3s cubic-bezier(0, 0, 0.2, 1);

  .editor-content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #fff;

    .brick-link {
      display: inline-block;
    }
  }
}
