@import "~@befe/brick-style/src/base";

$select-suffix-size-list: (
        xs: $font-size-sm,
        sm: $font-size-sm,
        md: $font-size-md,
        lg: $font-size-lg
) !default;
$select-suffix-arrow-size-list: (
        xs: 8px,
        sm: 8px,
        md: 10px,
        lg: 12px
) !default;
@include exports('comp-select') {
  .brick-select {
    @include reset();
    display: inline-block;
    width: 100%;

    &-selection {
      display: inline-block;
      position: relative;
      @include form-control-box;
      padding-right: padding(8);
      width: 100%;
      cursor: pointer;
    }

    &-selected-wrap {
      // 使高度不坍塌为 0
      &::after {
        display: inline-block;
        width: 0;
        visibility: hidden;
        content: '';
      }
    }

    &-placeholder,
    &-selected {
      @include ellipsis();
      float: left;
      max-width: 100%;
    }
    &-selected {
    }
    &-placeholder {
      color: $color-text-hint;
    }

    &-suffix {
      display: inline-block;
      position: absolute;
      right: $form-control-box-padding-horizontal;
      &-arrow {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    @each $size in $select-size-list {
      $suffix-size: map_get($select-suffix-size-list, $size);
      $arrow-size: map_get($select-suffix-arrow-size-list, $size);
      $select-height: form-control-height($size);
      $font-size: form-control-font-size($size);
      &-size-#{$size} {
        .brick-select-selection {
          height: $select-height;
          padding-top: form-control-box-padding-vertical($size);
          padding-bottom: form-control-box-padding-vertical($size);
          font-size: form-control-font-size($size);
        }

        .brick-select-selected {
          min-height: $font-size * $line-height-normal;
        }

        .brick-select-suffix {
          height: $suffix-size;
          width: $suffix-size;
          bottom: ($select-height - $suffix-size) / 2 - $border-width-base;

          &-arrow {
            svg {
              width: $arrow-size;
              height: $arrow-size;
            }
          }
        }
      }
    }

    &-disabled {
      @include form-control-box-disabled();
      .brick-icon {
        color: $color-text-disabled;
      }
    }

    &-with-max-number {
    }

    &-is-full {
    }

    &-mode-multiple {
    }
  }
}
