@import "~@befe/brick-style/src/base";

@include exports('comp-tabs') {
  $comp-name: '.brick-tabs';

  #{$comp-name}:not(#{$comp-name}-type-button-group) {
    @include reset();
    position: relative;

    #{$comp-name}-container {
      width: 100%;
      color: $color-text-normal;
      position: relative;
      display: flex;

      &:after {
        content: " ";
        position: absolute;
        width: 100%;
        pointer-events: none;
        bottom: 0;
        border-bottom: 1px solid $color-border-normal;
      }

      #{$comp-name}-list {
        position: relative;
        z-index: 1;
        overflow: hidden;

        ul {
          padding: 0;
          margin: 0;
          white-space: nowrap;
          transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        #{$comp-name}-tab {
          display: inline-block;
          padding: 0 $tabs-tab-padding-horizontal $tabs-tab-padding-vertical;
          cursor: pointer;
          list-style: none;
          outline: none;

          &:focus, &:hover {
            color: $tabs-tab-color-hover;
          }

          &:active {
            color: $color-text-normal-active;
          }

          &-invisible {
            visibility: hidden;
          }

          &-disabled {
            cursor: not-allowed;
            color: $tabs-tab-color-disabled;

            &:focus, &:hover, &:active {
              color: $tabs-tab-color-disabled;
            }
          }

          &-active {
            &:not(#{$comp-name}-tab-error) {
              color: $color-primary;

              &#{$comp-name}-tab-disabled {
                cursor: not-allowed;
                color: $tabs-tab-color-active-disabled;
              }

              &:focus, &:hover {
                color: $tabs-tab-active-color-hover;
              }

              &:active {
                color: $tabs-tab-active-color-active;
              }
            }
          }
        }
      }

      #{$comp-name}-ellipsis {
        float: right;

        ul {
          padding: 0;
          margin: $tabs-tab-ellipsis-padding-vertical 0 0 0;
          position: absolute;
          z-index: $tabs-tab-ellipsis-list-z-index;
          top: 100%;
          right: 0;
          background-color: #fff;
          box-shadow: $tabs-tab-ellipsis-shadow;
          border-radius: $tabs-tab-border-radius;
          overflow: auto;

          #{$comp-name}-tab {
            cursor: pointer;
            list-style: none;
            outline: none;
            display: block;
            padding: $tabs-tab-ellipsis-padding-vertical $tabs-tab-ellipsis-padding-horizontal;

            &-disabled {
              cursor: not-allowed;
              color: $color-text-disabled;

              &:hover {
                color: $color-text-disabled;
                background-color: #fff;
              }
            }

            &:hover {
              color: $color-text-normal-active;
              background-color: $tabs-tab-card-bg-color-hover;
            }
          }
        }
      }
    }

    // 应将 type-plain 写成默认，故不需要特别修饰
    &#{$comp-name}-type-plain {
      #{$comp-name}-tab {
        padding: 0 $tabs-tab-padding-horizontal $tabs-tab-padding-vertical;

        &-active {
          border-bottom: 2px solid $color-primary;
          padding-bottom: $tabs-tab-padding-vertical - 1px;
        }
      }

      #{$comp-name}-ellipsis {
        padding: 0 $tabs-tab-icon-padding-horizontal $tabs-tab-padding-vertical;

      }
    }

    &#{$comp-name}-type-card {
      #{$comp-name}-container {

        #{$comp-name}-list {

          #{$comp-name}-tab {
            padding: $tabs-tab-padding-vertical $tabs-tab-padding-horizontal;
            border: 1px solid $color-border-normal;
            border-left: none;
            background-color: $tabs-tab-card-bg-color;

            &:focus, &:hover {
              background-color: $tabs-tab-card-bg-color-hover;
            }

            &:focus {
              position: relative;
              z-index: 1;
              border: 1px solid $color-primary;
              box-shadow: 0 0 0 2px $tabs-tab-card-shadow-color;
            }

            &:not(:first-child):focus {
              padding-left: $tabs-tab-padding-horizontal - 1px;
            }

            &:active {
              background-color: $tabs-tab-card-bg-color-active;
            }

            &:first-child {
              border-left: 1px solid $color-border-normal;
              border-top-left-radius: $tabs-tab-border-radius;
            }

            &:first-child:focus {
              border-left-color: $color-primary;
            }

            &:last-child {
              border-top-right-radius: $tabs-tab-border-radius;
            }

            &-deletable {
              padding-right: 0;
            }

            &-active {
              border-top: 2px solid $color-primary;
              padding-top: $tabs-tab-padding-vertical - 1px;
              background-color: #fff;
              border-bottom-color: #fff;

              &:focus {
                border-top: 2px solid $color-primary;
                padding-top: $tabs-tab-padding-vertical - 1px;
              }

              &:focus, &:hover {
                background-color: #fff;
              }
            }

            &-disabled {
              background-color: $tabs-tab-card-bg-color;

              &:hover, &:focus {
                background-color: $tabs-tab-card-bg-color;
                border: 1px solid $color-border-normal;
                border-left: none;
                box-shadow: none
              }
            }

            &:first-child#{#{$comp-name}-tab-disabled}:focus,
            &:first-child#{#{$comp-name}-tab-disabled}:hover {
              border-left: 1px solid $color-border-normal;
            }

            &-cross {
              display: inline;
              padding-top: $tabs-tab-padding-vertical;
              padding-bottom: $tabs-tab-padding-vertical;
              padding-left: $tabs-tab-card-cross-padding-right;
              padding-right: $tabs-tab-card-cross-padding-right;
            }

            &-error {
              color: color-error();

              &-icon {
                color: currentColor;
                margin-right: $tabs-tab-card-status-padding-right;
              }

              &#{$comp-name}-tab-disabled {
                color: $tabs-tab-color-error-disabled;
              }
            }
          }
        }

        #{$comp-name}-ellipsis {
          position: relative;
          border-radius: 0;
          border-top-right-radius: $tabs-tab-border-radius;
          padding: $tabs-tab-padding-vertical $tabs-tab-ellipsis-padding-horizontal;
          border-left: 1px solid $color-border-normal;
          border-top: 1px solid $color-border-normal;
          border-right: 1px solid $color-border-normal;
          background-color: $tabs-tab-card-bg-color;
        }
      }

      #{$comp-name}-list {
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 1px;
          border-left: 1px solid $color-border-normal;
          border-top-left-radius: $tabs-tab-border-radius;
          background-color: $tabs-tab-card-bg-color;
        }

        &-drop-down {
          &:before {
            content: '';
            border-top: 1px solid $color-border-normal;
          }
        }

        #{$comp-name}-tab {
          &:last-child {
            border-radius: 0;
          }
        }
      }
    }

    #{$comp-name}-add-button {
      display: inline-block;
      padding: $tabs-tab-padding-vertical $tabs-tab-add-button-padding-horizontal;
      background-color: #fff;
      overflow: hidden;

      &-icon {
        color: $color-primary;
      }
    }

    @each $size in $tabs-size-list {
      &#{$comp-name}-size-#{$size} {
        font-size: map_get($tabs-font-size, $size);
      }
    }
  }

  #{$comp-name}-ellipsis-list {
    ul {
      padding: 0;
      margin: $tabs-tab-ellipsis-padding-vertical 0 0 0;
      position: absolute;
      z-index: $tabs-tab-ellipsis-list-z-index;
      top: 100%;
      right: 0;
      background-color: #fff;
      box-shadow: $tabs-tab-ellipsis-shadow;
      border-radius: $tabs-tab-border-radius;
      overflow: auto;

      #{$comp-name}-tab {
        cursor: pointer;
        list-style: none;
        outline: none;
        display: block;
        white-space: nowrap;
        padding: $tabs-tab-ellipsis-padding-vertical $tabs-tab-ellipsis-padding-horizontal;

        &-disabled {
          cursor: not-allowed;
          color: $color-text-disabled;
        }

        &-deletable {
          padding-right: 0;
        }

        &-cross {
          display: inline;
          padding: $tabs-tab-ellipsis-padding-vertical $tabs-tab-ellipsis-cross-padding-horizontal;
        }

        &:not(#{$comp-name}-tab-disabled) {
          &:hover {
            color: $color-text-normal-active;
            background-color: $tabs-tab-card-bg-color-hover;
          }
        }
      }
    }
  }

  .brick-tab-pane {

    &-inactive {
      display: none;
    }
  }
}
