{
    "env": {
        "development": {
            "presets": [
                [
                    "env",
                    {
                        // 为调试 async 方便可在开发环境去掉 async to transform-regenerator
                        // 默认需要保留不然 ie11 会挂掉
                        // "exclude": ["transform-regenerator"],
                        "targets": {
                            "node": "6",
                            "browsers": ["ie>=11"]
                        },
                        "loose": false,
                        "modules": "commonjs",
                        "useBuiltIns": true
                    }
                ],
                "react"
            ],
            "plugins": [
                "add-react-displayname",
                "transform-decorators-legacy",
                "lodash",
                "transform-class-properties",
                "transform-export-extensions",
                "transform-class-properties",
                "transform-object-rest-spread",
                [
                    "transform-runtime",
                    {
                        "polyfill": false
                    }
                ],
                [
                    "danger-remove-unused-import",
                    {
                        "ignore": ["react"],
                        "verbose": false
                    }
                ]
            ]
        },
        "production": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": "6",
                            "browsers": ["ie>=11"]
                        },
                        "loose": false,
                        "modules": "commonjs",
                        "useBuiltIns": true
                    }
                ],
                "react"
            ],
            "plugins": [
                "transform-decorators-legacy",
                "lodash",
                "transform-class-properties",
                "transform-export-extensions",
                "transform-class-properties",
                "transform-object-rest-spread",
                [
                    "transform-runtime",
                    {
                        "polyfill": false
                    }
                ],
                [
                    "danger-remove-unused-import",
                    {
                        "ignore": ["react"],
                        "verbose": false
                    }
                ]
            ]
        }
    },
    "ignore": [
        "*.test.js",
        "**/__test__"
    ]
}
