@import "src/style/theme";

$my-form-title-label-width: 100px;

.my-form {
  .my-form-label {
    display: inline-block;
    float: left;
    overflow: hidden;
    height: 100%;
    width: $my-form-title-label-width;
    padding: 5px 12px 0 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .my-form-display {
    margin-left: $my-form-title-label-width;
    margin-bottom: 15px;
    float: none;
    label {
      display: inline-block;
      padding: 5px 0;
      font-size: 12px;
    }
  }
  .required-icon {
    color: $color-error;
    margin: 2px 5px 0 0;
    vertical-align: middle;
  }
}
