@import "~@befe/brick-style/src/base";

@include exports('comp-date-picker-range-input') {
  .brick-range-picker {

    $grid: 4px;

    $color-separator: color-gray(7);
    $width-separator: 6*$grid;

    input {
      border: 0;
      width: calc(50% - #{$width-separator / 2});

      &:focus {
        box-shadow: none;
      }
    }

    .brick-input-status-error input {
      &:focus {
        box-shadow: none;
      }
    }

    .brick-sep {
      user-select: none;
      color: $color-separator;
      width: $width-separator;
    }

    .brick-input-disabled {
    }
  }
}

