@import "src/style/theme";

html,
body,
#app {
  position: relative;
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
}
input {
  //border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}
