// @import (reference) "/frontend/style/global.less";
// @import "utils/column.less";

.control-panel {
  position: relative;
  width: 100%;
  height: 100%;
  .control-panel-drawer {
    .control-panel-content {
      position: relative;
      width: 100%;
      height: 200px;
    }
    .fake-trigger {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 20px;
      .trigger-icon {
        position: absolute;
        left: 50%;
        margin-left: -10px;
      }
    }
  }
}

