// @import (reference) "/frontend/style/global.less";
// @import "utils/column.less";

.demo-list {
    position: relative;
    width: 100%;
    height: 100%;
    .demo-list-drawer {
        .demo-list-content {
            position: relative;
            width: 100%;
        }
    }
}
