@import "src/style/theme";

.page-data-authority-management {
  .button-group {
    @include clearfix();
    margin-top: 16px;
    margin-bottom: 12px;

    .button-group-left {
      float: left;
    }
    .button-group-right {
      float: right;
    }
  }
}