@import "src/style/theme";
@import "src/style/main";

$tree-text-color: #333333;
$tree-text-color-active: #4550E3;
$color-bg-inie: #FFFFFF;

.component-tree {

    .tree-node {

        .tree-node-swicher {
            display: inline-block;
            margin: 0 5px 0 10px;
            width: 13px;
            transition: all .5s;
            color: $tree-text-color;
        }
    
        .tree-node-swicher-open {
            transform:rotate(90deg);
        }

        .tree-node-title {
            display: inline-block;
            height: 28px;
            line-height: 28px;
            font-size: 12px;
            padding: 0 5px;
            cursor: pointer;
        }

        .tree-node-custom {
            float: right;
        }
    }

    .tree-node-active {
        background-color: color-brand(1);
        >.tree-node-title {
            color: $tree-text-color-active;
        }

        .tree-node {
            background-color: $color-bg-inie;
        }
        
    }
}



