@import "./theme";  // theme `$variable !default` overriding must before variables usage
@import "~@befe/brick/src/style/index";
@import "./common";

:global(.brick-input), :global(.brick-select) {
  width: 160px;
}

:global(.brick-pagination) {
  .brick-pagination-page-num-input {
    width: 52px;
  }
  :global(.brick-pagination-page-size-select) {
    width: auto;
  }
}
