$stripe-width: 15px;
$stripe-color: #999;
$stripe-color-active: #4c84ff;
$stripe-color-selected: #EE6723;

$aligner-color: #419bf9;

@mixin stripe-bg {
  background: #fff linear-gradient(
      45deg,
      $stripe-color 0, $stripe-color 25%, transparent 25%, transparent 50%,
      $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent
  );
  background-size: $stripe-width $stripe-width;
}

@mixin stripe-bg-active {
  background: #fff linear-gradient(
      45deg,
      $stripe-color-active 0, $stripe-color-active 25%, transparent 25%, transparent 50%,
      $stripe-color-active 50%, $stripe-color-active 75%, transparent 75%, transparent
  );
  background-size: $stripe-width $stripe-width;
}

@mixin stripe-bg-selected {
  background: #fff linear-gradient(
      45deg,
      $stripe-color-selected 0, $stripe-color-selected 25%, transparent 25%, transparent 50%,
      $stripe-color-selected 50%, $stripe-color-selected 75%, transparent 75%, transparent
  );
  background-size: $stripe-width $stripe-width;
}

.playground-comp-wrap {
  position: relative;
  display: block;
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
  &.is-absolute-positon {
    position: absolute;
    margin: 0;
  }
  .action-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // opacity: .5;
    border: 1px solid $stripe-color;
    background: #fff linear-gradient(
        45deg,
        $stripe-color 0, $stripe-color 25%, transparent 25%, transparent 50%,
        $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent
    );
    background-size: $stripe-width $stripe-width;
    .text {
      display: none;
      font-size: 12px;
      position: absolute;
      overflow: hidden;
      background-color: #fff;
      text-overflow: ellipsis;
      color: #000;
      white-space: nowrap;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &:hover {
      // opacity: .5;
      @include stripe-bg-active;
    }
  }
  .selected-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $stripe-color-selected;
    .spot {
      //display: none;
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid $stripe-color-selected;
      $spot-offset: -3px;
      &.tl {
        top: $spot-offset;
        left: $spot-offset;
      }
      &.tr {
        top: $spot-offset;
        right: $spot-offset;
      }
      &.br {
        bottom: $spot-offset;
        right: $spot-offset;
      }
      &.bl {
        bottom:$spot-offset;
        left: $spot-offset;
      }
    }
  }
  &.meta-key-pressed {
    cursor: grab;
    .action-layer {
      display: block;
      .text {
        display: block;
      }
    }
  }
  &.selected {
    cursor: grab;
    .selected-layer {
      display: block;
    }
  }

  $aligner-offset: 2px;
  .aligner {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    &.hor {
      border-top: 1px dashed $aligner-color;
    }
    &.ver {
      border-left: 1px dashed $aligner-color;
    }
    &.tl {
      top: 0;
      left: 0;
    }
    &.tr {
      top: 0;
      right: 0;
    }
    &.br {
      bottom: 0;
      right: 0;
    }
    &.bl {
      bottom: 0;
      left: 0;
    }
  }

  //

}
