/**
 * @file: release-config.js
 * @author: wujun07
 */
var config = require('common/config')
var nps = require('path')

// @start-def: command.Workflow.config: {}
module.exports = {
    /**
     * icode 项目中对应的 expense 的位置
     * !!!! 注意: 务必确保你的 icode 版本已经更新为最新的
     *
     * 实际会对应到 http://icode.baidu.com/repos/baidu/erp-fe-release/fe-pay-salary-adjustment/tree/master
     * 这个后端 git repo 的本地位置
     */

    planList: {
        'prod': {
            deployKey: 'prod',
            // 发布环境前端代码路径
            deployFolder: '/adjust-web/src/main/resources/dist',
            // 发不环境在本地的路径
            backendLocalRepoPath: '/EXAMPLE_DEMO_PATH/path/to/backend/project'
        },
        'mobile-only': {
            deployKey: 'mobile-only',
            deployFolder: '/dist',
            backendLocalRepoPath: '/EXAMPLE_DEMO_PATH/path/to/server/project'
        }
    }
};
