@import "src/entries/brick-playground/main/style";

.control-panel {
  position: relative;
  //width: 100%;
  //height: 100%;
  //width: 100%;
  .control-panel-drawer {
    position: relative;
    .MuiPaper-root {
      overflow: hidden;
    }
    .control-panel-content {
      position: relative;
      background: $gen-bg-color;
      width: 100%;
      height: 108px;
      padding: 0 40px;
      min-width: 1200px;
      .archive-name-input {
        width: 300px;
        float: left;
        margin-top: 30px;
        margin-right: 20px;
      }
      .author-input {
        width: 150px;
        float: left;
        margin-top: 30px;
        margin-right: 20px;
      }
      .last-modified {
        float: left;
        margin-right: 20px;
        height: 108px;
        line-height: 108px;
        color: #ccc;
        user-select: none;
      }
      .btn-share {
        float: right;
        margin-top: 39px;
        margin-left: 15px;
      }
      .btn-load {
        float: right;
        margin-top: 39px;
        margin-left: 15px;
      }
      .btn-clear {
        float: right;
        margin-top: 39px;
        margin-left: 15px;
      }
    }
    .banner-wrap {
      position: relative;
      width: 100%;
      background: $gen-bg-color;
      padding: 0 40px;
      min-width: 1200px;
      .banner {
        user-select: none;
        position: relative;
        width: 100%;
        .title {
          float: left;
          margin: 0;
          color: $mui-primary;
          .title-single-word {
            font-size: 20px;
            line-height: 64px;
            height: 64px;
            display: inline-block;
            font-weight: lighter;
            font-family: Roboto Mono, serif;
            color: $mui-primary;
            transition: opacity .4s cubic-bezier(0.25, 0.8, 0.25, 1);
            &:after {
              content: '·';
              opacity: .4;
            }
            &:last-of-type:after {
              content: '¬';
            }
            &.hidden {
              opacity: 0;
            }
          }
        }
        .link {
          float: left;
          text-transform: none;
          margin-left: 15px;
          margin-top: 17px;
          &.repo {
            margin-left: 30px;
          }
        }
        .about {
          margin: 0;
          float: right;
          text-align: right;
          height: 64px;
          line-height: 64px;
          font-family: Roboto Mono, serif;
          font-weight: lighter;
          color: #ccc;
          font-size: 12px;
          .sweet-sweet-heart {
            vertical-align: middle;
              //color: #ffcdd2 !important;
          }
        }
      }
    }
    .fake-trigger {
      border-top: 1px solid $border-color;
      background: $gen-bg-color;
      height: 20px;
      .trigger-icon {
        position: absolute;
        left: 50%;
        margin-left: -10px;
      }
    }
  }
}

.load-archive-dialog {
  width: 500px;
}
