@import "src/entries/brick-playground/main/style";

.playground-wrap {
  position: absolute;
  left: 20px;
  top: 20px;
  right: 0;
  background-color: $gen-bg-color;
  bottom: 0;
  //overflow: hidden;
  transition: margin .3s cubic-bezier(0, 0, 0.2, 1);
  //transition: margin .3s cubic-bezier(0.4, 0, 0.2, 1);
  .playground-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    .brick-link {
      display: inline-block;
    }
  }
}
