@import "~@befe/brick-style/src/base";

@include exports('comp-head-nav') {
  .brick-head-nav {
    @include reset();

    height: $head-nav-height;
    position: relative;
    width: 100%;
    background: $head-nav-bg-color;
    &-content {
      position: absolute;
      top: 0;;
      width: 100%;
      height: $head-nav-height;
      padding: 0 $head-nav-padding-vertical;
      &-inner {
        @include clearfix();
      }
    }


    &-logo,
    &-menu {
      display: inline-block;
      height: $head-nav-height;
    }

    &-logo {
      float: left;
      padding-top: 11px;
      //padding-top: padding(3);
    }
    &-menu {
      padding-left: padding(15);
      padding-right: padding(4);
    }
    &-user {
      float: right;
    }

    &-user-info {
      position: relative;
      height: $head-nav-height;
      display: inline-block;
      vertical-align: middle;
      line-height: $head-nav-height;
      text-align: left;
      &-avatar,
      &-detail {
        display: inline-block;
        vertical-align: middle;
      }
      &-avatar {
        @include size($head-nav-avatar-size);
        margin-right: padding(1);
        overflow: hidden;
        border-radius: 50%;
        background-color: color-gray(1);
        user-select: none;
        //background-image: url("~@befe/brick-icon/svg/main/system/user.svg");
        background-image: url("./user.svg");
        background-size: $head-nav-avatar-placeholder-size $head-nav-avatar-placeholder-size;
        background-position: center bottom;
        img {
          width: $head-nav-avatar-size;
          vertical-align: top;
        }
      }
      &-detail {
        // @todo: 待 ui 确认
        max-width: 150px;
        line-height: 20px;
        cursor: default;
        &-primary,
        &-secondary {
          @include ellipsis();
          margin-bottom: 0;
          color: $color-text-reverse;
        }
        &-primary {
          font-size: 13px;
          line-height: 18px;
        }
        &-secondary {
          font-size: $font-size-sm;
          line-height: $line-height-normal;
        }
      }

      &-arrow {
        display: inline-block;
        opacity: .5;
        .brick-icon {
          color: $color-text-reverse;
          @include icon-size(9px);
        }
      }
    }

    &-user-menu {
      .brick-menu-submenu-has-descendant-selected:not(.brick-menu-submenu-type-group) .brick-menu-item-content {
        color: inherit;
      }
    }

    // @todo: 预留，尚无设计细则
    &-user-extra {
      display: inline-block;
      padding-right: padding(3);
      height: $head-nav-height;
      line-height: $head-nav-height;
      vertical-align: middle;
      .brick-icon,
      .brick-link,
      & {
        color: $color-text-reverse;
      }
    }

    .brick-menu-size-sm,
    .brick-menu-size-md {
      &.brick-menu-layout-horizontal .brick-menu-item-content {
        height: $head-nav-height;
        line-height: $head-nav-height;
      }
    }
    &-reverse-color {
    }
  }

  .brick-erp-logo {

    &-main,
    &-subhead {
      vertical-align: bottom;
    }
    &-main {
      display: inline-block;
      height: $head-nav-erp-logo-height;
      width: $head-nav-erp-logo-width;
      background: url('./erp-logo.svg') no-repeat;
      background-size: $head-nav-erp-logo-width $head-nav-erp-logo-height;
      cursor: pointer;
    }
    &-origin-color &-main {
      background: url("./erp-logo-origin.svg") no-repeat;
    }

    &-subhead {
      display: inline-block;
      position: relative;
      height: $head-nav-erp-logo-subhead-height;
      line-height: $head-nav-erp-logo-subhead-divider-height;
      font-size: $head-nav-erp-logo-subhead-font-size;
      padding-left: 10px;
      margin-left: 10px;
      img {
        position: relative;
        height: $head-nav-erp-logo-subhead-height;
        bottom: $head-nav-erp-logo-subhead-bottom-margin;
      }
      &, &:hover {
        text-decoration-line: none;
        color: $color-text-reverse;
      }
      &:before {
        $divider-padding: ($head-nav-erp-logo-subhead-height - $head-nav-erp-logo-subhead-divider-height) / 2;
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: $head-nav-erp-logo-subhead-bottom-margin - $divider-padding;
        width: 1px;
        height: $head-nav-erp-logo-subhead-divider-height;
        background: $color-text-reverse;
      }
    }
  }
}
