$stripe-width: 15px;
$stripe-color: #999;
$stripe-color-active: #298ef2;
$stripe-color-selected: #EE6723;

@mixin stripe-bg {
    background: #fff linear-gradient(
        45deg, 
        $stripe-color 0, $stripe-color 25%, transparent 25%, transparent 50%, 
        $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent
    );
    background-size: $stripe-width $stripe-width;
}

@mixin stripe-bg-active {
    background: #fff linear-gradient(
        45deg, 
        $stripe-color-active 0, $stripe-color-active 25%, transparent 25%, transparent 50%, 
        $stripe-color-active 50%, $stripe-color-active 75%, transparent 75%, transparent
    );
    background-size: $stripe-width $stripe-width;
}

@mixin stripe-bg-selected {
    background: #fff linear-gradient(
        45deg, 
        $stripe-color-selected 0, $stripe-color-selected 25%, transparent 25%, transparent 50%, 
        $stripe-color-selected 50%, $stripe-color-selected 75%, transparent 75%, transparent
    );
    background-size: $stripe-width $stripe-width;
}

.playground-comp-wrap {
    position: relative;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    .action-layer {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // opacity: .5;
        // transition: all .4s;
        border: 1px solid $stripe-color;
        background: #fff linear-gradient(
            45deg, 
            $stripe-color 0, $stripe-color 25%, transparent 25%, transparent 50%, 
            $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent
        );
        background-size: $stripe-width $stripe-width;
        .text {
            display: none;
            font-size: 12px;
            position: absolute;
            transition: all .4s;
            overflow: hidden;
            background-color: #fff;
            text-overflow: ellipsis;
            color: #000;
            white-space: nowrap;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        &:hover {
            // opacity: .5;
            @include stripe-bg-active;
        }
    }
    .selected-layer {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid $stripe-color-selected;
        .spot {
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: #fff;
            border-radius: 100%;
            border: 1px solid $stripe-color-selected;
            &.tl {
                top: -3px; 
                left: -3px; 
            }
            &.tr {
                top: -3px; 
                right: -3px; 
            }
            &.br {
                bottom: -3px; 
                right: -3px; 
            }
            &.bl {
                bottom: -3px; 
                left: -3px; 
            }
        }
    }
    &.meta-key-pressed {
        cursor: grab;
        .action-layer {
            display: block;
            .text {
                display: block;
            }
        }
    }
}
