@import "src/style/theme";
@import "src/style/main";
$title-font-size: 14px;
$role-tag-color: #7ED988;
.page-configure-user {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: #fff;
  padding: 0 20px;
  .page-title {
    height: 52px;
    line-height: 52px;
    font-size: $title-font-size;
  }
  .title-wrapper {
    width: auto;
    height: 24px;
    margin: 10px 0 ;
  }
  .title-inner {
    position: relative;
    vertical-align: baseline;
    @include clearfix();
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      top: 2px;
      height: 16px;
      width: 2px;
      background: $color-base-blue;
    }
    > span {
      float: left;
      line-height: 20px;
      font-size: $title-font-size;
      margin-left: 12px;
    }
    .title-options {
      float: left;
      margin-left: 16px;
      .show-switch {
        @include clearfix();
        line-height: 20px;
        > p {
          float: left;
        }
        :global(.brick-switch) {
          margin-left: 8px;
        }
      }

    }
  }
  .role-list, .tab-operation {
    height: 52px;
    padding-top: 12px;
    :global(.brick-button) {
      margin-left: 8px;
    }
  }
  .role-list {
    .own-role {
      margin-right: 10px;
    }
    .role-tag {
      display: inline-block;
      line-height: 24px;
      border-radius: 12px;
      padding: 0 6px;
      border: 1px solid $role-tag-color;
      color: $role-tag-color;
      margin-left: 4px;
    }
  }
}
