@import "/@befe/erp-comps/v2/style/themes/index";
// @import "/@befe/erp-comps/v2/style/utils";

// `必填`项目的高亮星号
@field-required-asterisk: #e22c25;
@border-style: 1px solid #e5e5e5;

@border-color: #e5e5e5;

.index-page-wrapper {
    position: relative;
    min-width: 1000px;
    
}
