.copy-env-info-btn button {
    display: inline-block;
    padding: 0 12px;
    border: 1px solid #d3d3d3;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
}
.copy-env-info-btn button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .12);
}
.copy-env-info-btn .copy-env-info-button-danger {
    border-color: transparent;
    color: #fff;
    background-color: #dd4a3a;
}
.copy-env-info-btn .copy-env-info-button-danger:active {
    outline: none;
}
.copy-env-info-btn .copy-env-info-button-danger:hover,
.copy-env-info-btn .copy-env-info-button-danger:active {
    background-color: #bc3e31;
}
.copy-env-info-btn .copy-env-info-button-small {
    min-width: 72px;
    height: 28px;
    font-size: 12px;
    line-height: 26px;
}
.copy-env-info-btn.visible {
    transform: translateX(-100%);
}
.copy-env-info-btn {
    position: fixed;
    z-index: 100000;
    right: 10px;
    bottom: 10px;
}
