@import "src/style/theme";

//$menu-header-height: 60px;
$window-padding-top: 16.5px;
$window-padding-left: 24.5px;

.page-window-user-configure {
  background-color: color-gray(1);
  position: absolute;
  //top: $menu-header-height;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $window-padding-top $window-padding-left;
  //padding-bottom: $menu-header-height;

  .window-close-x {
    position: absolute;
    top: $window-padding-top;
    right: $window-padding-left;
    color: color-gray(7);
  }
}

.page-configure-group {

}